/* CLASSES */



/* ----------------------------------------------------------- this stuff is for the index.html ----------------------------------*/

/* Default styles for larger screens */
.intro-body {
    margin: 0;
    overflow: hidden;
}

.intro-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.intro-text {
    font-size: 1em;
    color: #18453B;
    margin: 0;
    padding: 20px;
    white-space: nowrap;
    overflow: hidden;
}

.intro-text span {
    display: inline-block;
    opacity: 0;
    transform: translateY(1em);
    transition: opacity 0.5s, transform 0.5s;
}
/* Default styles for larger screens */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #FFFFFF;
}

.section-list {
    color: #0B9A6D;
    text-align: center;
    font-size: 20px;
}

.facepic {
    width: 300px;
    height: auto;
    display: inline-block;
    margin-right: 10px;
}

.center-pic-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.center-pic {
    width: 100%; /* Adjust the width to your desired size */
    height: auto; /* Maintain aspect ratio */
}

.header {
    background: #18453B;
    color: grey;
    padding: 2em;
    text-align: center;
}

.header-title {
    color: #FFFFFF;
    text-align: center;
}

.header-description {
    color: #FFFFFF;
    text-align: center;
}

.main-nav {
    background-color: white;
    color: white;
    padding: 1em;
    text-align: center;
    display: flex;
    justify-content: center;
    animation: pulse 1.5s normal;
}

.nav-link {
    color: #0B9A6D;
    text-decoration: none;
    padding: 0.5em 1em;
    margin: 0 1em;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.nav-link:hover {
    opacity: 60%;
}

.logo {
    width: 100px;
    height: auto;
}

.custom-divRight,
.custom-divLeft {
    position: absolute;
    top: 10px;
    width: 60px; /* Adjust the width to your desired size */
    height: auto; /* Maintain aspect ratio */
}

.custom-divRight {
    right: 10px;
}

.custom-divLeft {
    left: 10px;
}

.main-section {
    padding: 2em;
    margin: 2em 0;
    border-radius: 20px;
    animation: fadeIn 2s ease-in-out;
}

.centered-link {
    display: block;
    text-align: center;
    margin-bottom: 2em;
    font-size: 20px; /* Adjust font size for smaller screens */
    color: grey;
    text-decoration: none;
}

.centered-link:hover {
    color: green;
}

.section-title {
    color: #3b3b3b;
    text-align: center;
    font-size: 25px; /* Adjust font size for smaller screens */
}

.section-description {
    color: #636363;
    text-align: center;
    font-size: 18px; /* Adjust font size for smaller screens */
}

.main-footer {
    background: #18453B;
    color: #FFFFFF;
    padding: 1em;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}

#padding {
    display: block;
    margin: 10px 0;
}
@media only screen and (max-width: 320px), (max-width: 400px), (max-width: 600px) {
    /* Styles for smaller screens */
    .facepic {
        width: 150px;
    }

    .main-section {
        padding: 0.5em;
        margin: 0.5em 0;
        border-radius: 10px;
    }

    .custom-divLeft,
    .custom-divRight {
        top: 5px;
        left: 5px;
        right: 5px;
    }

    .centered-link {
        font-size: 16px;
    }

    .section-title {
        font-size: 20px;
    }

    .section-description {
        font-size: 14px;
    }

    .intro-text {
        font-size: 0.5em;
    }

    .logo,
    .custom-divRight img,
    .custom-divLeft img {
        width: 40px;
    }

    .main-nav {
        flex-direction: column;
        align-items: center;
    }

    .nav-link {
        margin: 0.5em 0;
    }
}






/* KEYFRAMES */
/* ----------------------------------------------------------- this stuff is the animations use for nav and body ----------------------------------*/
@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes pulse {
    0%, 100% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
}

/* Keyframe animation for letter pop-up */
@keyframes popUp {
    from {
        opacity: 0;
        transform: translateY(1em);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}


/* idk what this is LOL */
/* --------------------------------------------------- this stuff is for index.html (makes the letters pop out slowly and seperately ----------------------------------*/
/* Apply animation delay to each letter */
.intro-text span:nth-child(1)  { animation: popUp 0.5s ease-out both 0.1s; }
.intro-text span:nth-child(2)  { animation: popUp 0.5s ease-out both 0.3s; }
.intro-text span:nth-child(3)  { animation: popUp 0.5s ease-out both 0.5s; }
.intro-text span:nth-child(4)  { animation: popUp 0.5s ease-out both 0.7s; }
.intro-text span:nth-child(5)  { animation: popUp 0.5s ease-out both 0.9s; }
.intro-text span:nth-child(6)  { animation: popUp 0.5s ease-out both 1.1s; }
.intro-text span:nth-child(7)  { animation: popUp 0.5s ease-out both 1.3s; }
.intro-text span:nth-child(8)  { animation: popUp 0.5s ease-out both 1.5s; }
.intro-text span:nth-child(9)  { animation: popUp 0.5s ease-out both 1.7s; }
.intro-text span:nth-child(10) { animation: popUp 0.5s ease-out both 1.9s; }
.intro-text span:nth-child(11) { animation: popUp 0.5s ease-out both 2.1s; }
.intro-text span:nth-child(12) { animation: popUp 0.5s ease-out both 2.3s; }
.intro-text span:nth-child(13) { animation: popUp 0.5s ease-out both 2.5s; }
.intro-text span:nth-child(14) { animation: popUp 0.5s ease-out both 2.7s; }
.intro-text span:nth-child(15) { animation: popUp 0.5s ease-out both 2.9s; }
.intro-text span:nth-child(16) { animation: popUp 0.5s ease-out both 3.1s; }
.intro-text span:nth-child(17) { animation: popUp 0.5s ease-out both 3.3s; }
.intro-text span:nth-child(18) { animation: popUp 0.5s ease-out both 3.5s; }
.intro-text span:nth-child(19) { animation: popUp 0.5s ease-out both 3.7s; }
.intro-text span:nth-child(20) { animation: popUp 0.5s ease-out both 3.9s; }
.intro-text span:nth-child(21) { animation: popUp 0.5s ease-out both 4.1s; }
.intro-text span:nth-child(22) { animation: popUp 0.5s ease-out both 4.3s; }
.intro-text span:nth-child(23) { animation: popUp 0.5s ease-out both 4.5s; }
.intro-text span:nth-child(24) { animation: popUp 0.5s ease-out both 4.7s; }
.intro-text span:nth-child(25) { animation: popUp 0.5s ease-out both 4.9s; }
.intro-text span:nth-child(26) { animation: popUp 0.5s ease-out both 5.1s; }
.intro-text span:nth-child(27) { animation: popUp 0.5s ease-out both 5.3s; }
.intro-text span:nth-child(28) { animation: popUp 0.5s ease-out both 5.5s; }
.intro-text span:nth-child(29) { animation: popUp 0.5s ease-out both 5.7s; }
.intro-text span:nth-child(30) { animation: popUp 0.5s ease-out both 5.9s; }
.intro-text span:nth-child(31) { animation: popUp 0.5s ease-out both 6.1s; }
.intro-text span:nth-child(32) { animation: popUp 0.5s ease-out both 6.3s; }
.intro-text span:nth-child(33) { animation: popUp 0.5s ease-out both 6.5s; }
.intro-text span:nth-child(34) { animation: popUp 0.5s ease-out both 6.7s; }
.intro-text span:nth-child(35) { animation: popUp 0.5s ease-out both 6.9s; }
.intro-text span:nth-child(36) { animation: popUp 0.5s ease-out both 7.1s; }
.intro-text span:nth-child(37) { animation: popUp 0.5s ease-out both 2.3s; }
.intro-text span:nth-child(38) { animation: popUp 0.5s ease-out both 2.5s; }
.intro-text span:nth-child(39) { animation: popUp 0.5s ease-out both 2.7s; }
.intro-text span:nth-child(40) { animation: popUp 0.5s ease-out both 2.9s; }
.intro-text span:nth-child(41) { animation: popUp 0.5s ease-out both 3.1s; }
.intro-text span:nth-child(42) { animation: popUp 0.5s ease-out both 3.3s; }
.intro-text span:nth-child(43) { animation: popUp 0.5s ease-out both 3.5s; }
.intro-text span:nth-child(44) { animation: popUp 0.5s ease-out both 3.7s; }
.intro-text span:nth-child(45) { animation: popUp 0.5s ease-out both 3.9s; }
.intro-text span:nth-child(46) { animation: popUp 0.5s ease-out both 4.1s; }
.intro-text span:nth-child(47) { animation: popUp 0.5s ease-out both 4.3s; }
.intro-text span:nth-child(48) { animation: popUp 0.5s ease-out both 4.5s; }
.intro-text span:nth-child(49) { animation: popUp 0.5s ease-out both 4.7s; }
.intro-text span:nth-child(50) { animation: popUp 0.5s ease-out both 4.9s; }
.intro-text span:nth-child(51) { animation: popUp 0.5s ease-out both 5.1s; }
.intro-text span:nth-child(52) { animation: popUp 0.5s ease-out both 5.3s; }
.intro-text span:nth-child(53) { animation: popUp 0.5s ease-out both 5.5s; }