/* CLASSES */



/* ----------------------------------------------------------- this stuff is for the index.html ----------------------------------*/

/* Default styles for larger screens */
.intro-body {
    margin: 0;
    overflow: hidden;
}

.intro-text span {
    --index: 0;
    animation: popUp 0.5s ease-out both calc(0.1s + 0.2s * var(--index));
}


div.polaroid {
    width: 80%;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: 0 auto 25px; /* Center the div horizontally and add margin-bottom */
}

div.polaroid img {
    display: block;
    margin: 0 auto; /* Center the image horizontally */
}
  
  div.container {
    text-align: center;
    padding: 10px 20px;
}

.intro-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.intro-text {
    font-size: 2em;
    color: #18453B;
    margin: 0;
    padding: 20px;
    white-space: nowrap;
    overflow: hidden;
}

.intro-text span {
    display: inline-block;
    opacity: 0;
    transform: translateY(1em);
    transition: opacity 0.5s, transform 0.5s;
}
/* Default styles for larger screens */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #FFFFFF;
    grid-template-rows: 1fr auto; /* Last row is the footer */
    min-height: 100vh; /* Ensure the page takes at least the full height of the viewport */
    
}

.image-container {
    width: 50%; 
    height: 50%; 
}

.round-corners {
    border-radius: 25px;
    background: #73AD21;
    padding: 20px; 
    width: 200px;
    height: 150px; 
}


.section-list {
    color: #0B9A6D;
    text-align: center;
    font-size: 20px;
}

.header {
    background: #18453B;
    color: grey;
    padding: 2em;
    text-align: center;
}

.header-title {
    color: #FFFFFF;
    text-align: center;
}

.header-description {
    color: #FFFFFF;
    text-align: center;
}

.main-nav {
    background-color: white;
    color: white;
    padding: 1em;
    text-align: center;
    display: flex;
    justify-content: center;
    animation: pulse 1.5s normal;
}

.nav-link {
    color: #0B9A6D;
    text-decoration: none;
    padding: 0.5em 1em;
    margin: 0 1em;
    border-radius: 5px;
    transition: background-color 0.3s;
    border: 2px solid #0B9A6D; /* Add this line to set green borders */

}

.nav-link:hover {
    opacity: 60%;
}

.logo {
    width: 100px;
    height: auto;
}



.main-section {
    padding: 2em;
    margin: 2em 0;
    border-radius: 20px;
    animation: fadeIn 2s ease-in-out;
}

.centered-link {
    display: block;
    text-align: center;
    margin-bottom: 2em;
    font-size: 20px; /* Adjust font size for smaller screens */
    color: grey;
    text-decoration: none;
}

.centered-link:hover {
    color: green;
}

.section-title {
    color: #3b3b3b;
    text-align: center;
    font-size: 25px; /* Adjust font size for smaller screens */
}

.section-description {
    color: #636363;
    text-align: center;
    font-size: 18px; /* Adjust font size for smaller screens */
}


.bottom-text {
    background: #18453B;
    color: #FFFFFF;
    padding: 1em;
    text-align: center;
}



#padding {
    display: block;
    margin: 10px 0;
}




/* For Mobile Devices – 320px — 480px */
@media only screen and (min-width: 320px) and (max-width: 480px) {
    /* Your styles for mobile devices go here */
    .intro-text {
        font-size: 75%;
    }
    .main-nav {
        flex-direction: column; /* Stack items vertically */
        align-items: center; /* Center items horizontally */
    }

    .nav-link {
        margin: 0.5em 0; /* Add some spacing between links */
    }
    div.polaroid {
        width: 50%;
    }
}


  
  /* iPads and Tablets – 481px — 768px */
  @media only screen and (min-width: 481px) and (max-width: 768px) {
    /* Your styles for iPads and tablets go here */
    .intro-text {
        font-size: 75%;
    }
    .main-nav {
        flex-direction: column; /* Stack items vertically */
        align-items: center; /* Center items horizontally */
    }

    .nav-link {
        margin: 0.5em 0; /* Add some spacing between links */
    }
    div.polaroid {
        width: 50%;
    }
  
}
  
  /* Laptops and small screens – 769px — 1024px */
  @media only screen and (min-width: 769px) and (max-width: 1024px) {
    /* Your styles for laptops and small screens go here */
    .intro-text {
        font-size: 100%;
  }
    .main-nav {
        flex-direction: column; /* Stack items vertically */
        align-items: center; /* Center items horizontally */
    }

    .nav-link {
        margin: 0.5em 0; /* Add some spacing between links */
    }
    div.polaroid {
        width: 60%;
    }
  
  }
  
  /* Large screens and Desktops – 1025px — 1200px */
  @media only screen and (min-width: 1025px) and (max-width: 1200px) {
    /* Your styles for large screens and desktops go here */
    .intro-text {
        font-size: 100%;
  }

    .main-nav {
        flex-direction: column; /* Stack items vertically */
        align-items: center; /* Center items horizontally */
    }

    .nav-link {
        margin: 0.5em 0; /* Add some spacing between links */
    }
    div.polaroid {
        width: 70%;
    }


}
  





/* KEYFRAMES */
/* ----------------------------------------------------------- this stuff is the animations use for nav and body ----------------------------------*/
@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes pulse {
    0%, 100% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
}

/* Keyframe animation for letter pop-up */
@keyframes popUp {
    from {
        opacity: 0;
        transform: translateY(1em);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}


/* idk what this is LOL */
/* --------------------------------------------------- this stuff is for index.html (makes the letters pop out slowly and seperately ----------------------------------*/
.intro-text span {
    --index: 0;
    animation: popUp 0.5s ease-out both calc(0.1s + 0.2s * var(--index));
}
